h1 {
  text-align: center;
  font-family: "Indie Flower";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #f2f2cf;
}
.bloco {
  border-bottom: 2px solid #b1b1b1;
  margin-bottom: 60px;
}

input[type="text"] {
  border: none;
  background: none;
  padding: 24px 16px;
  width: 432px;
  font-family: "Indie Flower";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  outline: none;
}

input[type="text"]::placeholder {
  color: #000000;
}

.todo {
  width: 432px;
  padding: 32px 16px 32px 16px;
  background: #ffffff;
}

.item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #b1b1b1;
  padding: 16px 24px 16px 24px;
  font-family: "Indie Flower";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}

input[type="checkbox"] + label {
  padding-left: 16px;
  color: #363333;
}
